@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #383838;
    color: whitesmoke;
    height: 100%;
}

h1 {
    text-align: center;
    margin-top: 15rem;
}

div {
    text-align: center;
}

button {
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}