@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #383838;
    color: whitesmoke;
    height: 100%;
}

h1 {
    position: relative;
    text-align: center;
    margin-top: 15rem;
}

div {
    text-align: center;
}

button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    transition: all 1s;
    transition-timing-function: ease-out;
}

a:hover {
    text-decoration: underline;
    color: red;
    font-size: 18px; 

}

/* h1:hover {
    text-decoration: underline;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {left: -10px;}
  to {right: -10px;}
} */